
  <div class="card">
    {% for review in reviews %}
      <div class="review card-content">
        <div class="review-header">
          <div class="review-rating">
            {% if review.rating == 1 %}
              ★
            {% elif review.rating == 2 %}
              ★★
            {% elif review.rating == 3 %}
              ★★★
            {% elif review.rating == 4 %}
              ★★★★
            {% else %}
              ★★★★★
            {% endif %}
          </div>
          <!-- <div class="review-summary card-title">One in a Million</div> -->
          <div class="review-user"><a href="">{{ review['username'] }}</a></div>
          <!-- TODO: verify if session actually works -->

          <div class="user-data card">
            <div class="card-content">
              <div class="profile">
                <img src="https://a4-images.myspacecdn.com/images03/2/ddec1e4d26f94cae963c8c54e9838749/600x600.jpg"/>
                <div class="card-title profile-username">User
                  <div><a href="">X reviews</a></div>
                </div>
              </div>
            </div>
          </div>

          <div class="review-date">on {{ review.date_posted|datetimeformat('%B %d, %Y %H:%M') }}</div>
        </div>
        <div class="review-content">
            {{review.review_message}}
      </div>
      <hr>
    {% endfor %}
  </div>
